/*Selector {
    Property: value; always link in the head of teh index.html linl rel="stylesheet"
    type="text/css" href=""
    cascading style sheet means
}*/

body {
    margin: 0px;

}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    width: 400px;
    text-align: center;
    border-right: 2px solid pink;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}